<% layout('/layouts/boilerplate') -%>

<div class="row ">
    <div class="col-6  offset-3">
        <body>
            <h3 class="mb-4">SignUp on Wanderlust</h3>
            <form method="POST" action="/signup" class="needs-validation" novalidate>
            <!-- <form method="GET" action="/signup/verifyOTP" class="needs-validation" novalidate> -->
        
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" type="text" name="username" placeholder="username" required> 
                <div class="valid-feedback"> Username looks Good! </div>
                <div class="invalid-feedback"> Username Required ! </div>
            </div>
        
            <!-- <div class="mb-3 ">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="email" value="@gmail.com" required>  -->
                <!-- <div class="valid-feedback"> Email looks Good! </div> -->
                <!-- <div class="invalid-feedback"> Email Required ! </div>
            </div> -->

            <div class="row">
                <div class="mb-3  col-md-9">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="email" value="@gmail.com" required> 
                    <!-- <div class="valid-feedback"> Email looks Good! </div> -->
                    <div class="invalid-feedback"> Email Required ! </div>
                </div>
                <div class="mb-3 col-md-3 d-flex flex-column justify-content-end">   
                    <button class="btn btn-dark add-btn" onclick="">Send OTP</button>
                    <!-- <div class="invalid-feedback"> OTP Sent ! </div> -->
                    <!-- <div class="valid-feedback"> Resend OTP ! </div> -->
                </div>
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="password" required> 
                <!-- <div class="valid-feedback"> Password looks Good! </div> -->
                <div class="invalid-feedback"> Password Required ! </div>
            </div>
        
            <div class="mb-3">
                <label for="cnf_password" class="form-label">Confirm Password</label>
                <input class="form-control" type="password" id="cnf_password" name="cnf_password" placeholder="confirm password" required> 
                <!-- <div class="valid-feedback"> Password looks Good! </div> -->
                <div class="invalid-feedback"> Password Required ! </div>
            </div>
        
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="otp" class="form-label">OTP</label>
                    <input class="form-control" type="otp" id="otp" name="otp" placeholder="xx-xx-xx" required> 
                    <!-- <div class="valid-feedback"> Password looks Good! </div> -->
                    
                    <div class="invalid-feedback"> OTP Required ! </div>
                </div>
                <div class="mb-3 col-md-3 d-flex flex-column justify-content-end">   
                    <button class="btn btn-dark add-btn" onclick="">Verify OTP</button>
                </div>
            </div>
        
                <br><br>
                <button class="btn btn-dark add-btn" type="submit">Sign up</button>
            </form>

        </body>
    </div>
</div>





